<div class="update_multiple_wrapper">
  <div class="clearfix">
    <div class="options_header">Associated Recurring Reservations</div>
    <%= form_tag 'update' do %>  
      <% if @associated_recurrances.length > 1 %>
        <% @associated_recurrances.each do |assoc_recur|%>
          <div class="update_options">
            <%= check_box_tag("reservation_ids[]", assoc_recur.id, false, :class => "reserv_updates")%>
            <%= assoc_recur.date %>
          </div>
        <% end %>
        <div class="update_options">
          <%= check_box_tag("reservation_ids[]", @id_list, false, :class => "reserv_updates") %>All
        </div>
      <% else %>
          <div class="update_options">
          <%= check_box_tag("reservation_ids[]", @reservation.id, false, :class => "reserv_updates") %>
          <%= "This reservation" %>
        </div>
      <% end %>
      <%= submit_tag "Update Selected", id: "UpdateSelectedButton" %>
    <% end %>

  </div>
</div>
