<h1>Edit Reservation</h1>
<div>
	<% if params[:class] == "recurrance" %>
		<%= render 'recur_form' %>
		<div class="option_button_wrapper">
			<%= link_to "Update Options", @reservation, :action => "display_delete_options", 
									  :remote => true, :id => "display_update_options", :class => "options_button" %>
		</div>
		<div class="option_button_wrapper">
			<%= link_to "Delete Options", @reservation, :action => "display_delete_options", 
	      :remote => true, :id => 'display_delete_options', :class => "options_button" %>
	    </div>
		<div class="delete_partial_zone">
		  <%= render 'delete_options' %>
		</div>

	<% else %>
		<%= render 'form' %>
		<div class="back_button_wrapper">
    		<%= link_to 'Delete Reservation', @reservation, method: :delete, :class => "back_button", id: "delete_single_reserv", data: { confirm: 'Are you sure?' } %> 
  		</div>
	<% end %>
	<div class="back_button_wrapper">
	<%= link_to "Back", reservations_path, :class => "back_button" %>
	</div>
</div>
